.logout {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 10px 10px;
    transition-duration: 0.4s;
}

.logout:hower {
    background-color: #4CAF50;
    color: white;
}

.clientreg {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
}

.clientreg:hower {
    background-color: #4CAF50;
    color: white;
}

.delivery {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
}

.delivery:hower {
    background-color: #4CAF50;
    color: white;
}

.log {
    position: relative;
    width: 400px;
    height: 200px;
    left: 750px;
}

.clr {
    position: relative;
    left: 380px;
    width: 100px;
    height: 200px;
}

.dl {
    left: 1020px;
    position: relative;
}


.main {
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h2 {
    height: 200px;
}