.Registration {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  text-align: center;
}

button {
  bottom: 20px;
  border: 2px solid #4CAF50;
  padding: 1rem;
  width: 320px;
  background-color: white; 
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
  border-radius: 8px;
}
button:hover {
  background-color: #4CAF50;
  color: white;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}

.login {
  top: 100px;
  bottom: 20px;
}

.data {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}
