.ctr {
    display: grid;
    grid-auto-flow: column;
    /* grid-column-gap: 120px; */
}

.clientReg {
    position: relative;
    text-align: center;
}

.usersList {
    position: relative;
    text-align: center;
}

.home {
    position: relative;
    text-align: center;
}

.usersList {
    width: 730px;
    height: 400px;
}

table, tr td {
    border: 1px solid #4CAF50;
    border-radius: 5px;
}
tbody {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    display: block;
    height: 400px;
    overflow: auto;
}
thead, tbody tr {
    border: 1px solid #4CAF50;
    border-radius: 8px;
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}