.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.clientReg {
    position: relative;
    left: 380px;
    width: 100px;
    height: 200px;
}

.usersList {
    position: relative;
    width: 700px;
    height: 200px;
}


.home {
    top: 280px;
    position: relative;
    width: 400px;
    height: 400px;
    left: 780px;
}
