.header {
    background-color: #F4FFDC;
}

.global-class-name {
    height: 60px;
}

.me-auto {
    font-size: larger;
}

img {
  transition: 0.5s all ease-in-out;
}

img:hover {
  transform: scale(1.1);
}